---
---
@import "{{ site.theme }}";

body {
    color: #4B0082 !important;
}

/* This forces all titles and links to stay purple */
a, a:visited, h1, h2, h3, .post-link {
    color: #4B0082 !important;
}

/* This makes them slightly darker when you hover */
a:hover {
    color: #301934 !important;
}
